#Group Details

**Group Members (student ID):** August Asheim Birkelan (506753), Ørjan Carlsen (507694), Alexey Gusev (477979)

**Kaggle Competition:** Moscow Housing

**Kaggle Team:** Group 1

# PIP INSTALLS

In [1]:
pip install xgboost #Should be version 1.5.0!!

Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (1.5.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.19.5)

In [2]:
pip install lightgbm #Should be version 3.3.1!!

Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (3.3.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.4.1)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm) (0.37.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.19.5)
Requirement already satisfied: scikit-learn!=0.22.0 in /usr/local/lib/python3.7/dist-packages (from lightgbm) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.1)

In [3]:
pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

In [4]:
pip install catboost #Should be version 1.0.3!!

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.0.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)

In [5]:
pip install category_encoders -q

# IMPORTS

In [6]:
import json
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import string
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler, MinMaxScaler, KBinsDiscretizer
from sklearn.model_selection import train_test_split, KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.neighbors import KNeighborsRegressor
from category_encoders.target_encoder import TargetEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import RidgeCV, LinearRegression
import lightgbm as lgb
import xgboost as xgb
from catboost import CatBoostRegressor
from sklearn.impute import SimpleImputer
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

from geopy.distance import geodesic

from copy import deepcopy

%matplotlib inline


plt.style.use('ggplot')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# EDA

### Collect data

In [7]:
# TRAIN SET
buildings = pd.read_csv('./sample_data/buildings_train.csv')
apartments = pd.read_csv('./sample_data/apartments_train.csv')
print(f'All apartments have an associated building: {apartments.building_id.isin(buildings.id).all()}')
data_train = pd.merge(apartments, buildings.set_index('id'), how='left', left_on='building_id', right_index=True)

# Dropping duplicates in train
data_train = data_train.drop_duplicates(subset=data_train.columns.difference(['id']))

# TEST SET
apartments_test = pd.read_csv('./sample_data/apartments_test.csv')
buildings_test = pd.read_csv('./sample_data/buildings_test.csv')
print(f'All test apartments have an associated building: {apartments_test.building_id.isin(buildings_test.id).all()}')
data_test = pd.merge(apartments_test, buildings_test.set_index('id'), how='left', left_on='building_id', right_index=True)

# ALL DATA
data_all = pd.concat([data_train, data_test])
data_all['Split'] = np.where(data_all['id'] <= np.max(data_train['id']), 'Train', 'Test')
data_all = data_all.drop(['id'], axis=1)
pd.set_option("display.max_rows", 2000)

All apartments have an associated building: True
All test apartments have an associated building: True

 ### Remove outliers

**Remove data with too high price**

In [8]:
data_all = data_all[(data_all['area_total']<=1175) | (data_all['Split']=='Test')]

**Remove data with too big area total**

In [9]:
data_all = data_all[(data_all['price']<1000000000) | (data_all['price'].isna())]

### Bathrooms

Use median of bathrooms for same building to fill in for NaN

In [10]:
data_all["bathrooms_shared"] = data_all.groupby("building_id").transform(lambda x: x.fillna(x.median()))["bathrooms_shared"]
data_all["bathrooms_private"] = data_all.groupby("building_id").transform(lambda x: x.fillna(x.median()))["bathrooms_private"]

### District

In [11]:
pd.set_option("display.max_rows", 2000)
data_all.loc[(data_all['latitude']==55.595160) & (data_all['longitude']==37.741109) & (data_all['district'].isnull()), 'district'] = 5
data_all.loc[(data_all['latitude']==17.141734) & (data_all['longitude']==-61.790500) & (data_all['district'].isnull()), 'district'] = 11
data_all.loc[(data_all['latitude']==55.583537) & (data_all['longitude']==37.478025	) & (data_all['district'].isnull()), 'district'] = 11
data_all.loc[(data_all['latitude']==55.583551) & (data_all['longitude']==37.711356) & (data_all['district'].isnull()), 'district'] = 5
data_all.loc[(data_all['street']=='В мкр') & (data_all['district'].isnull()), 'district'] = 2
data_all.loc[(data_all['street']=='улица 1-я Линия') & (data_all['district'].isnull()), 'district'] = 3
data_all.loc[(data_all['street']=='улица Центральная') & (data_all['district'].isnull()), 'district'] = 11
data_all.loc[(data_all['address']=='Москва А101 ЖК') & (data_all['district'].isnull()), 'district'] = 11
data_all.loc[(data_all['street']=='Бунинские Луга ЖК') & (data_all['district'].isnull()), 'district'] = 11 #

### Longitude and Latitude

In [12]:

data_all.loc[(data_all['address']=='к2/2/1') & (data_all['street']=='Бунинские Луга ЖК') & (data_all['longitude']<0), ['latitude', 'longitude']] = [55.544046, 37.478055]
data_all.loc[(data_all['address']=='к2/2/2') & (data_all['street']=='Бунинские Луга ЖК') & (data_all['longitude']<0), ['latitude', 'longitude']] = [55.544886, 37.478459] 
data_all.loc[data_all['address'] == 'Москва А101 ЖК', ['latitude', 'longitude']] = [55.560891,	37.473761]
#data_all.loc[(data_all['street'] == 'улица 1-я Линия') & (data_all['longitude']==74.517184) & (data_all['latitude']==42.914700), ['latitude', 'longitude']] = [55.764424, 37.907781]
data_all.loc[(data_all['street']=='улица Центральная') & (data_all['address']=='48'), ['latitude', 'longitude']] = [55.853511, 37.384711]	 #[55.809245, 37.350090]
data_all.loc[(data_all['street']=='улица Центральная') & (data_all['address']=='75'), ['latitude', 'longitude']] = [55.853511, 37.384711]   #[55.809245, 37.350090]
#data_all.loc[(data_all.index==4719) & (data_all.Split=='Test'), ['latitude', 'longitude']] = [55.809245, 37.350090]

### Ceiling

In [13]:
data_all.loc[(data_all['ceiling']>12), 'ceiling'] = np.nan
data_all.loc[(data_all['ceiling']<1), 'ceiling'] = np.nan

### Distance to Universities/Colleges

In [14]:
MSU    = ( 55.704279331013915 , 37.527720613854    ) # center/sw
MSUCE  = ( 55.859955674414444 , 37.707267495936996 ) # nw
BMSTU  = ( 55.76615846588919  , 37.68505253621469  ) # center/east
IUFS   = ( 55.628344081320236 , 37.593311336163644 ) # south
LIS    = ( 55.892843325039514 , 37.57455519923625  ) # north
NW     = ( 55.81084987524267  , 37.51065533037661  )
MUG    = ( 55.72997580854584  , 37.816477554416245 ) # east
KKAR   = ( 55.65828905630157  , 37.770577681885065 ) # se
IESR   = ( 55.79239687372863  , 37.82063842368287  ) # east
RCTU   = ( 55.85867123962497  , 37.4158124386546   ) # nw
MEI    = ( 55.77480692814678  , 37.52265213121898  ) # center/west
MPU    = ( 55.723255925832    , 37.674135958782806 ) # center/se
RMANPO = ( 55.867347229014214 , 37.4761356952223   ) # nw
IIEP   = ( 55.594679800406006 , 37.6686510189342   ) # south
MPU2   = ( 55.820408245566306 , 37.664296132279986 ) # center/north
MSIEA  = ( 55.80611763965845  , 37.41016712643405  ) # nw
SW     = ( 55.6514038020098   , 37.49940394537357  )
IETVS  = ( 55.7262213003841   , 37.399531618530936 ) # east
CENTER = ( 55.75377154250644  , 37.6197263162158   )

In [15]:
import geopy.distance

data_all['MSU']    = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), MSU   ).km, axis=1)
data_all['MSUCE']  = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), MSUCE ).km, axis=1)
data_all['BMSTU']  = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), BMSTU ).km, axis=1)
data_all['IUFS']   = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), IUFS  ).km, axis=1)
data_all['LIS']    = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), LIS   ).km, axis=1)
data_all['NW']     = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), NW    ).km, axis=1)
data_all['MUG']    = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), MUG   ).km, axis=1)
data_all['KKAR']   = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), KKAR  ).km, axis=1)
data_all['IESR']   = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), IESR  ).km, axis=1)
data_all['RCTU']   = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), RCTU  ).km, axis=1)
data_all['MEI']    = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), MEI   ).km, axis=1)
data_all['MPU']    = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), MPU   ).km, axis=1)
data_all['RMANPO'] = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), RMANPO).km, axis=1)
data_all['IIEP']   = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), IIEP  ).km, axis=1)
data_all['MPU2']   = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), MPU2  ).km, axis=1)
data_all['MSIEA']  = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), MSIEA ).km, axis=1)
data_all['SW']     = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), SW    ).km, axis=1)
data_all['IETVS']  = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), IETVS ).km, axis=1)
data_all['CENTER'] = data_all.apply(lambda row: geopy.distance.geodesic((row['latitude'],row['longitude']), CENTER).km, axis=1)

In [16]:
data_all.loc[(data_all['seller']==2), 'seller'] = 0
data_all.loc[(data_all['seller']==3), 'seller'] = 1

In [17]:
unique_street = data_all['street'].unique()
street_map = dict([(y,x+1) for x,y in enumerate(sorted(unique_street))])
data_all['street'] = data_all['street'].apply(lambda x: street_map[x])

unique_address = data_all['address'].unique()
address_map = dict([(y,x+1) for x,y in enumerate(sorted(unique_address))])
data_all['address'] = data_all['address'].apply(lambda x: address_map[x])

### Store data for CatBoost

In [18]:
data_all_cat = deepcopy(data_all)
data_all_cat

      seller       price  area_total  ...         SW      IETVS     CENTER
0        1.0   7139520.0        59.2  ...  12.028155  20.876708  24.995381
1        NaN  10500000.0        88.0  ...  25.618077  22.513163  12.326286
2        1.0   9019650.0        78.5  ...   1.661160  10.104800  12.021881
3        NaN  10500000.0        88.0  ...  25.618077  22.513163  12.326286
4        NaN  13900000.0        78.0  ...   7.394659  15.428755  21.009646
...      ...         ...         ...  ...        ...        ...        ...
9932     1.0         NaN       106.0  ...  15.637553   7.925068  11.001288
9933     NaN         NaN        82.0  ...  11.210033   7.859205   6.501047
9934     NaN         NaN        49.3  ...  15.401594   5.177510  15.462811
9935     NaN         NaN        38.8  ...  10.214877  15.221214   6.092644
9936     1.0         NaN        71.5  ...  21.510643  25.712660  35.108802

[32753 rows x 53 columns]

**Make features categorical for CatBoost**

### OneHotEncoding

In [19]:
stored_data_all = deepcopy(data_all)
for col in list(data_all.columns[data_all.nunique()<9]):
  if col == 'Split':
    continue
  stored_data_all = pd.concat([stored_data_all, pd.get_dummies(data_all[col], prefix=col)], axis=1)
  stored_data_all = stored_data_all.drop(col, axis=1)


# stored_data_all_cat = deepcopy(data_all_cat)
# for col in list(data_all_cat.columns[data_all_cat.nunique()<9]):
#   if col == 'Split':
#     continue
#   stored_data_all_cat = pd.concat([stored_data_all_cat, pd.get_dummies(data_all_cat[col], prefix=col)], axis=1)
#   stored_data_all_cat = stored_data_all_cat.drop(col, axis=1)
# data_all_cat = deepcopy(stored_data_all_cat)

In [20]:
# Copy the data
split = stored_data_all.Split
stored_data_all = stored_data_all.drop('Split', axis=1)
# Init
ii_imp = IterativeImputer(estimator=ExtraTreesRegressor(n_jobs=-1, random_state=42), max_iter=4, random_state=42, verbose=2)

# Tranform
stored_data_all.loc[:, :] = ii_imp.fit_transform(stored_data_all)

[IterativeImputer] Completing matrix with shape (32753, 98)
[IterativeImputer] Ending imputation round 1/4, elapsed time 162.53
[IterativeImputer] Change: 543400810.875101, scaled tolerance: 936014.184
[IterativeImputer] Ending imputation round 2/4, elapsed time 326.75
[IterativeImputer] Change: 56539738.63200003, scaled tolerance: 936014.184
[IterativeImputer] Ending imputation round 3/4, elapsed time 491.66
[IterativeImputer] Change: 74411330.39500006, scaled tolerance: 936014.184
[IterativeImputer] Ending imputation round 4/4, elapsed time 662.49
[IterativeImputer] Change: 82428731.15370001, scaled tolerance: 936014.184

In [21]:
stored_data_all['Split'] = split

In [22]:
data_all = deepcopy(stored_data_all)
data_all

            price  area_total  area_kitchen  ...  heating_2.0  heating_3.0  Split
0      7139520.00        59.2        12.500  ...          0.0          0.0  Train
1     10500000.00        88.0        14.200  ...          0.0          0.0  Train
2      9019650.00        78.5        22.500  ...          0.0          0.0  Train
3     10500000.00        88.0        14.000  ...          0.0          0.0  Train
4     13900000.00        78.0        17.000  ...          0.0          0.0  Train
...           ...         ...           ...  ...          ...          ...    ...
9932  35698942.88       106.0        19.900  ...          0.0          0.0   Test
9933  21712025.68        82.0        16.262  ...          0.0          0.0   Test
9934  10707863.02        49.3        14.679  ...          0.0          0.0   Test
9935  12590901.55        38.8        10.500  ...          0.0          0.0   Test
9936   7924526.60        71.5         7.000  ...          0.0          0.0   Test

[32753 rows x 99 columns]

In [23]:
stored_data = deepcopy(data_all)
stored_data

            price  area_total  area_kitchen  ...  heating_2.0  heating_3.0  Split
0      7139520.00        59.2        12.500  ...          0.0          0.0  Train
1     10500000.00        88.0        14.200  ...          0.0          0.0  Train
2      9019650.00        78.5        22.500  ...          0.0          0.0  Train
3     10500000.00        88.0        14.000  ...          0.0          0.0  Train
4     13900000.00        78.0        17.000  ...          0.0          0.0  Train
...           ...         ...           ...  ...          ...          ...    ...
9932  35698942.88       106.0        19.900  ...          0.0          0.0   Test
9933  21712025.68        82.0        16.262  ...          0.0          0.0   Test
9934  10707863.02        49.3        14.679  ...          0.0          0.0   Test
9935  12590901.55        38.8        10.500  ...          0.0          0.0   Test
9936   7924526.60        71.5         7.000  ...          0.0          0.0   Test

[32753 rows x 99 columns]

In [24]:
stored_data_cat = deepcopy(data_all_cat)
stored_data_cat

      seller       price  area_total  ...         SW      IETVS     CENTER
0        1.0   7139520.0        59.2  ...  12.028155  20.876708  24.995381
1        NaN  10500000.0        88.0  ...  25.618077  22.513163  12.326286
2        1.0   9019650.0        78.5  ...   1.661160  10.104800  12.021881
3        NaN  10500000.0        88.0  ...  25.618077  22.513163  12.326286
4        NaN  13900000.0        78.0  ...   7.394659  15.428755  21.009646
...      ...         ...         ...  ...        ...        ...        ...
9932     1.0         NaN       106.0  ...  15.637553   7.925068  11.001288
9933     NaN         NaN        82.0  ...  11.210033   7.859205   6.501047
9934     NaN         NaN        49.3  ...  15.401594   5.177510  15.462811
9935     NaN         NaN        38.8  ...  10.214877  15.221214   6.092644
9936     1.0         NaN        71.5  ...  21.510643  25.712660  35.108802

[32753 rows x 53 columns]

# Feature engineering

**Clustering**

In [25]:
def lat_long_clustering(df, df_test):
    from sklearn.cluster import KMeans
    k_means = KMeans(n_clusters = 400, max_iter = 10000, init='k-means++', random_state=42)

    lat_long_pairs = df[['latitude','longitude']]
    lat_long_pairs_test = df_test[['latitude','longitude']]
    target_data = np.log2(df.price)

    k_means.fit(lat_long_pairs,sample_weight = target_data)
    df['cluster'] = k_means.predict(lat_long_pairs)
    df_test['cluster'] = k_means.predict(lat_long_pairs_test)

    return df, df_test

data_all['cluster'] = np.nan
data_all[data_all['Split']=='Train'], data_all[data_all['Split']=='Test'] = lat_long_clustering(deepcopy(data_all[data_all['Split']=='Train']), deepcopy(data_all[data_all['Split']=='Test']))

data_all_cat['cluster'] = np.nan
data_all_cat[data_all_cat['Split']=='Train'], data_all_cat[data_all_cat['Split']=='Test'] = lat_long_clustering(deepcopy(data_all_cat[data_all_cat['Split']=='Train']), deepcopy(data_all_cat[data_all_cat['Split']=='Test']))

In [26]:
data_all['penthouse'] = (data_all['floor']*(data_all['floor'] / data_all['stories'] - 0.5)**3).astype(float)
data_all_cat['penthouse'] = (data_all_cat['floor']*(data_all_cat['floor'] / data_all_cat['stories'] - 0.5)**3).astype(float)

In [27]:
data_all[['penthouse', 'floor', 'stories']]

      penthouse  floor  stories
0     -0.042867    2.0      9.0
1      0.191664   18.0     25.0
2      0.324000   12.0     15.0
3      0.191664   18.0     25.0
4     -0.000259    7.0     15.0
...         ...    ...      ...
9932   0.432000   16.0     20.0
9933  -0.128625    3.0     20.0
9934   0.029297   15.0     24.0
9935   1.750000   14.0     14.0
9936   0.250000    2.0      2.0

[32753 rows x 3 columns]

In [28]:
data_corr = data_all[data_all['Split']=='Train'].select_dtypes(include=[np.number])

In [29]:
corr = data_corr.corr()
corr.head(20)
corr.sort_values(['price'], ascending=False, inplace=True)
corr['price']

price                     1.000000
area_total                0.788478
area_living               0.760249
ceiling                   0.456730
area_kitchen              0.433733
rooms_6.0                 0.369085
bathrooms_shared          0.328290
rooms_5.0                 0.312307
parking_0.0               0.265516
rooms_4.0                 0.259054
condition_3.0             0.255601
bathrooms_private_4.0     0.232936
elevator_without_1.0      0.192696
bathrooms_private_3.0     0.163144
material_2.0              0.146694
material_5.0              0.136744
new_0.0                   0.105045
heating_3.0               0.104359
condition_0.0             0.101214
floor                     0.099645
windows_street_1.0        0.091655
balconies_4.0             0.081686
garbage_chute_1.0         0.073092
stories                   0.065851
latitude                  0.064700
parking_2.0               0.064606
layout_2.0                0.062309
building_id               0.059104
bathrooms_private_2.5     0.054133
constructed               0.052076
bathrooms_private_1.5     0.051779
material_0.0              0.050621
balconies_2.0             0.048323
loggias_2.0               0.044461
cluster                   0.043564
phones_2.0                0.043351
rooms_3.0                 0.041668
bathrooms_private_2.0     0.039912
bathrooms_private_0.5     0.038425
elevator_service_1.0      0.034023
balconies_3.0             0.033095
elevator_passenger_1.0    0.030862
loggias_3.0               0.021712
heating_1.0               0.015957
loggias_4.0               0.007397
bathrooms_private_0.0     0.006488
penthouse                 0.002501
material_1.0             -0.000317
material_6.0             -0.000786
garbage_chute_0.0        -0.003434
windows_court_0.0        -0.011168
layout_1.0               -0.016859
street                   -0.018611
condition_2.0            -0.019733
heating_0.0              -0.020454
elevator_passenger_0.0   -0.022302
heating_2.0              -0.022305
layout_0.0               -0.022670
elevator_service_0.0     -0.027943
phones_1.0               -0.028178
loggias_0.0              -0.030088
address                  -0.033486
phones_0.0               -0.034419
longitude                -0.039105
windows_court_1.0        -0.044318
IIEP                     -0.045356
balconies_1.0            -0.055083
KKAR                     -0.067724
material_4.0             -0.069581
balconies_0.0            -0.079909
MUG                      -0.081665
IESR                     -0.091665
loggias_1.0              -0.099839
new_1.0                  -0.100703
seller_0.0               -0.105429
bathrooms_private_1.0    -0.107806
IUFS                     -0.117625
MSUCE                    -0.127290
LIS                      -0.133069
windows_street_0.0       -0.143311
condition_1.0            -0.148700
rooms_2.0                -0.152824
RMANPO                   -0.161246
RCTU                     -0.167364
MPU2                     -0.179052
material_3.0             -0.182734
SW                       -0.182740
elevator_without_0.0     -0.185379
seller_1.0               -0.187845
parking_1.0              -0.188075
rooms_1.0                -0.201033
district                 -0.215266
BMSTU                    -0.218104
MSIEA                    -0.218552
MPU                      -0.230664
NW                       -0.232293
IETVS                    -0.257782
MEI                      -0.292098
CENTER                   -0.309309
MSU                      -0.309584
Name: price, dtype: float64

# NaN values after EDA and feature engineering

In [30]:
data_all_cat

      seller       price  area_total  ...     CENTER  cluster  penthouse
0        1.0   7139520.0        59.2  ...  24.995381    155.0  -0.042867
1        NaN  10500000.0        88.0  ...  12.326286    248.0   0.191664
2        1.0   9019650.0        78.5  ...  12.021881    247.0   0.324000
3        NaN  10500000.0        88.0  ...  12.326286    248.0   0.191664
4        NaN  13900000.0        78.0  ...  21.009646    107.0  -0.000259
...      ...         ...         ...  ...        ...      ...        ...
9932     1.0         NaN       106.0  ...  11.001288    280.0   0.432000
9933     NaN         NaN        82.0  ...   6.501047    259.0  -0.128625
9934     NaN         NaN        49.3  ...  15.462811    203.0   0.029297
9935     NaN         NaN        38.8  ...   6.092644    240.0   1.750000
9936     1.0         NaN        71.5  ...  35.108802    102.0   0.250000

[32753 rows x 55 columns]

In [31]:
lgbm_categorical = (0, 6, 10, 11, 14, 16, 17, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 51)

# Stacking

In [32]:
SEED=42
model1 = RandomForestRegressor(
    n_estimators=1500,
    n_jobs=-1,
    random_state=SEED,
    verbose=1,
)
model2 = GradientBoostingRegressor(
    n_estimators=600,
    learning_rate=0.06,
    min_samples_leaf=4, 
    max_depth=9, 
    random_state=SEED,
    verbose=1,
)
model3 = lgb.LGBMRegressor(
    n_estimators=6000,
    learning_rate=0.08,
    num_leaves=10,
    random_state=SEED, 
    seed=SEED,
    n_jobs=-1,
    categorical_feature = lgbm_categorical,
)
# model4 = xgb.XGBRegressor(
#     n_estimators=5000,
#     learning_rate=0.14,
#     n_jobs=-1, 
#     random_state=SEED,
#     max_depth = 4,
#     seed=SEED,
#     verbosity=1,
# )
# model5 = CatBoostRegressor(
#     n_estimators=2500,
#     learning_rate=0.1,
#     thread_count=-1,
#     depth=9,
#     random_seed=SEED,
#     silent=True,
# #     cat_features = ["layout", "condition", "new", "material", "seller", "parking", "heating", "district"],
# )
model4 = xgb.XGBRegressor(
    n_estimators=5000,
    learning_rate=0.01,
    n_jobs=-1, 
    subsample=0.8,
    random_state=SEED,
    max_depth = 8,
    gamma=0.0,
    seed=SEED,
    verbosity=1,
)
model5 = CatBoostRegressor(
    n_estimators=5000,
    learning_rate=0.06322764426255192,
    thread_count=-1,
    num_leaves=24,
    min_child_samples=16,
    depth=6,
    random_seed=SEED,
    silent=True,
    grow_policy='Lossguide',
#     cat_features = ["layout", "condition", "new", "material", "seller", "parking", "heating", "district"],
)

In [33]:
data_all.to_csv('data_allNew.csv')
data_all_cat.to_csv('data_all_catNew.csv')

In [34]:
data_all

            price  area_total  area_kitchen  ...  Split  cluster  penthouse
0      7139520.00        59.2        12.500  ...  Train    155.0  -0.042867
1     10500000.00        88.0        14.200  ...  Train    248.0   0.191664
2      9019650.00        78.5        22.500  ...  Train    247.0   0.324000
3     10500000.00        88.0        14.000  ...  Train    248.0   0.191664
4     13900000.00        78.0        17.000  ...  Train    107.0  -0.000259
...           ...         ...           ...  ...    ...      ...        ...
9932  35698942.88       106.0        19.900  ...   Test    280.0   0.432000
9933  21712025.68        82.0        16.262  ...   Test    259.0  -0.128625
9934  10707863.02        49.3        14.679  ...   Test    203.0   0.029297
9935  12590901.55        38.8        10.500  ...   Test    240.0   1.750000
9936   7924526.60        71.5         7.000  ...   Test    102.0   0.250000

[32753 rows x 101 columns]

In [35]:
data_train_all = data_all[data_all['Split']=='Train'].drop(['Split'], axis=1)
data_test_all = data_all[data_all['Split']=='Test'].drop(['Split'], axis=1)

data_train_cat = data_all_cat[data_all_cat['Split']=='Train'].drop(['Split'], axis=1)
data_test_cat = data_all_cat[data_all_cat['Split']=='Test'].drop(['Split'], axis=1)

X_train = data_train_all.drop('price', axis=1)
X_test = data_test_all.drop('price', axis=1)

X_train_cat = data_train_cat.drop('price', axis=1)
X_test_cat = data_test_cat.drop('price', axis=1)

y_train = np.log2(data_train_all.loc[X_train.index].price)

In [36]:
X_train

       area_total  area_kitchen  area_living  ...  heating_3.0  cluster  penthouse
0            59.2          12.5      31.0000  ...          0.0    155.0  -0.042867
1            88.0          14.2      48.0000  ...          0.0    248.0   0.191664
2            78.5          22.5      40.8000  ...          0.0    247.0   0.324000
3            88.0          14.0      48.0000  ...          0.0    248.0   0.191664
4            78.0          17.0      35.0000  ...          0.0    107.0  -0.000259
...           ...           ...          ...  ...          ...      ...        ...
23280        65.0          16.0      32.0000  ...          0.0    203.0  -0.158203
23281        56.9           9.6      36.5000  ...          0.0      7.0  -0.048000
23282        73.4          23.0      29.3000  ...          0.0    259.0   2.000000
23283       100.8          20.0      58.2610  ...          0.0    374.0  -0.004000
23284        57.7           8.4      35.3772  ...          0.0     26.0   0.108000

[22816 rows x 99 columns]

In [37]:
ntrain = X_train.shape[0]
ntest = X_test.shape[0]
SEED = 42 # for reproducibility
NFOLDS = 5 # set number of folds for out-of-fold prediction
kf = KFold(
    n_splits=NFOLDS,
    shuffle=True,
    random_state=SEED
) # K-Folds cross-validator

def get_oof(clf, x_train, y_train, x_test):
    """
    Popular function on Kaggle.
    
    Trains a classifier on 4/5 of the training data and
    predicts the rest (1/5). This procedure is repeated for all 5 folds,
    thus we have predictions for all training set. This prediction is one
    column of meta-data, later on used as a feature column by a meta-algorithm.
    We predict the test part and average predictions across all 5 models.
    
    Keyword arguments:
    clf -- classifier
    x_train -- 4/5 of training data
    y_train -- corresponding labels
    x_test -- all test data
    
    """
    oof_train = np.zeros((ntrain,))
    oof_test = np.zeros((ntest,))
    oof_test_skf = np.empty((NFOLDS, ntest))

    for i, (train_index, test_index) in enumerate(kf.split(x_train)):
        x_tr = x_train[train_index]
        y_tr = y_train[train_index]
        x_te = x_train[test_index]

        clf.fit(x_tr, y_tr)

        oof_train[test_index] = clf.predict(x_te)
        oof_test_skf[i, :] = clf.predict(x_test)

    oof_test[:] = oof_test_skf.mean(axis=0)
    return oof_train.reshape(-1, 1), oof_test.reshape(-1, 1)

In [38]:
X_train = X_train.values
X_test = X_test.values
X_train_cat = X_train_cat.values
X_test_cat = X_test_cat.values
y_train = y_train.ravel()

In [39]:
rf_oof_train, rf_oof_test = get_oof(model1, X_train, y_train, X_test)
gb_oof_train, gb_oof_test = get_oof(model2, X_train, y_train, X_test)
lgb_oof_train, lgb_oof_test = get_oof(model3, X_train_cat, y_train, X_test_cat)
xgb_oof_train, xgb_oof_test = get_oof(model4, X_train, y_train, X_test) # set reg:squarederror?

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    1.0s
[Parallel(n_jobs=-1)]: Done 152 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done 402 tasks      | elapsed:   19.4s
[Parallel(n_jobs=-1)]: Done 752 tasks      | elapsed:   32.9s
[Parallel(n_jobs=-1)]: Done 1202 tasks      | elapsed:   49.6s
[Parallel(n_jobs=-1)]: Done 1500 out of 1500 | elapsed:  1.0min finished
[Parallel(n_jobs=24)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=24)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=24)]: Done 152 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 402 tasks      | elapsed:    0.2s
[Parallel(n_jobs=24)]: Done 752 tasks      | elapsed:    0.3s
[Parallel(n_jobs=24)]: Done 1202 tasks      | elapsed:    0.4s
[Parallel(n_jobs=24)]: Done 1500 out of 1500 | elapsed:    0.5s finished
[Parallel(n_jobs=24)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=24)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=24)]: Done 152 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 402 tasks      | elapsed:    0.2s
[Parallel(n_jobs=24)]: Done 752 tasks      | elapsed:    0.3s
[Parallel(n_jobs=24)]: Done 1202 tasks      | elapsed:    0.5s
[Parallel(n_jobs=24)]: Done 1500 out of 1500 | elapsed:    0.6s finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    0.8s
[Parallel(n_jobs=-1)]: Done 152 tasks      | elapsed:    9.1s
[Parallel(n_jobs=-1)]: Done 402 tasks      | elapsed:   20.3s
[Parallel(n_jobs=-1)]: Done 752 tasks      | elapsed:   33.8s
[Parallel(n_jobs=-1)]: Done 1202 tasks      | elapsed:   50.4s
[Parallel(n_jobs=-1)]: Done 1500 out of 1500 | elapsed:  1.0min finished
[Parallel(n_jobs=24)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=24)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=24)]: Done 152 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 402 tasks      | elapsed:    0.2s
[Parallel(n_jobs=24)]: Done 752 tasks      | elapsed:    0.3s
[Parallel(n_jobs=24)]: Done 1202 tasks      | elapsed:    0.4s
[Parallel(n_jobs=24)]: Done 1500 out of 1500 | elapsed:    0.5s finished
[Parallel(n_jobs=24)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=24)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=24)]: Done 152 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 402 tasks      | elapsed:    0.2s
[Parallel(n_jobs=24)]: Done 752 tasks      | elapsed:    0.3s
[Parallel(n_jobs=24)]: Done 1202 tasks      | elapsed:    0.5s
[Parallel(n_jobs=24)]: Done 1500 out of 1500 | elapsed:    0.6s finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done 152 tasks      | elapsed:    8.9s
[Parallel(n_jobs=-1)]: Done 402 tasks      | elapsed:   20.0s
[Parallel(n_jobs=-1)]: Done 752 tasks      | elapsed:   34.1s
[Parallel(n_jobs=-1)]: Done 1202 tasks      | elapsed:   51.2s
[Parallel(n_jobs=-1)]: Done 1500 out of 1500 | elapsed:  1.0min finished
[Parallel(n_jobs=24)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=24)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=24)]: Done 152 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 402 tasks      | elapsed:    0.2s
[Parallel(n_jobs=24)]: Done 752 tasks      | elapsed:    0.3s
[Parallel(n_jobs=24)]: Done 1202 tasks      | elapsed:    0.4s
[Parallel(n_jobs=24)]: Done 1500 out of 1500 | elapsed:    0.5s finished
[Parallel(n_jobs=24)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=24)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=24)]: Done 152 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 402 tasks      | elapsed:    0.2s
[Parallel(n_jobs=24)]: Done 752 tasks      | elapsed:    0.3s
[Parallel(n_jobs=24)]: Done 1202 tasks      | elapsed:    0.5s
[Parallel(n_jobs=24)]: Done 1500 out of 1500 | elapsed:    0.6s finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    0.9s
[Parallel(n_jobs=-1)]: Done 152 tasks      | elapsed:    6.4s
[Parallel(n_jobs=-1)]: Done 402 tasks      | elapsed:   16.0s
[Parallel(n_jobs=-1)]: Done 752 tasks      | elapsed:   29.4s
[Parallel(n_jobs=-1)]: Done 1202 tasks      | elapsed:   46.4s
[Parallel(n_jobs=-1)]: Done 1500 out of 1500 | elapsed:   57.3s finished
[Parallel(n_jobs=24)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=24)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=24)]: Done 152 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 402 tasks      | elapsed:    0.2s
[Parallel(n_jobs=24)]: Done 752 tasks      | elapsed:    0.3s
[Parallel(n_jobs=24)]: Done 1202 tasks      | elapsed:    0.4s
[Parallel(n_jobs=24)]: Done 1500 out of 1500 | elapsed:    0.5s finished
[Parallel(n_jobs=24)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=24)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=24)]: Done 152 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 402 tasks      | elapsed:    0.2s
[Parallel(n_jobs=24)]: Done 752 tasks      | elapsed:    0.3s
[Parallel(n_jobs=24)]: Done 1202 tasks      | elapsed:    0.5s
[Parallel(n_jobs=24)]: Done 1500 out of 1500 | elapsed:    0.6s finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    0.8s
[Parallel(n_jobs=-1)]: Done 152 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done 402 tasks      | elapsed:   16.0s
[Parallel(n_jobs=-1)]: Done 752 tasks      | elapsed:   28.9s
[Parallel(n_jobs=-1)]: Done 1202 tasks      | elapsed:   45.8s
[Parallel(n_jobs=-1)]: Done 1500 out of 1500 | elapsed:   56.5s finished
[Parallel(n_jobs=24)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=24)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=24)]: Done 152 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 402 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 752 tasks      | elapsed:    0.3s
[Parallel(n_jobs=24)]: Done 1202 tasks      | elapsed:    0.4s
[Parallel(n_jobs=24)]: Done 1500 out of 1500 | elapsed:    0.5s finished
[Parallel(n_jobs=24)]: Using backend ThreadingBackend with 24 concurrent workers.
[Parallel(n_jobs=24)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=24)]: Done 152 tasks      | elapsed:    0.1s
[Parallel(n_jobs=24)]: Done 402 tasks      | elapsed:    0.2s
[Parallel(n_jobs=24)]: Done 752 tasks      | elapsed:    0.3s
[Parallel(n_jobs=24)]: Done 1202 tasks      | elapsed:    0.5s
[Parallel(n_jobs=24)]: Done 1500 out of 1500 | elapsed:    0.6s finished

      Iter       Train Loss   Remaining Time
         1           1.3649            4.90m
         2           1.2142            4.88m
         3           1.0804            4.86m
         4           0.9622            4.87m
         5           0.8574            4.85m
         6           0.7646            4.84m
         7           0.6823            4.83m
         8           0.6093            4.83m
         9           0.5443            4.82m
        10           0.4867            4.82m
        20           0.1696            4.72m
        30           0.0693            4.62m
        40           0.0350            4.54m
        50           0.0219            4.46m
        60           0.0162            4.40m
        70           0.0132            4.33m
        80           0.0112            4.26m
        90           0.0097            4.18m
       100           0.0087            4.10m
       200           0.0057            3.43m
       300           0.0041            2.62m
       400           0.0031            1.76m
       500           0.0024           53.25s
       600           0.0019            0.00s
      Iter       Train Loss   Remaining Time
         1           1.3725            4.85m
         2           1.2208            4.84m
         3           1.0864            4.84m
         4           0.9675            4.84m
         5           0.8621            4.82m
         6           0.7687            4.82m
         7           0.6859            4.80m
         8           0.6125            4.79m
         9           0.5475            4.80m
        10           0.4894            4.79m
        20           0.1701            4.69m
        30           0.0693            4.61m
        40           0.0350            4.54m
        50           0.0219            4.47m
        60           0.0161            4.40m
        70           0.0132            4.34m
        80           0.0113            4.27m
        90           0.0098            4.19m
       100           0.0089            4.12m
       200           0.0057            3.46m
       300           0.0042            2.65m
       400           0.0032            1.78m
       500           0.0024           53.76s
       600           0.0019            0.00s
      Iter       Train Loss   Remaining Time
         1           1.3827            4.86m
         2           1.2299            4.87m
         3           1.0945            4.86m
         4           0.9746            4.87m
         5           0.8686            4.85m
         6           0.7744            4.83m
         7           0.6908            4.83m
         8           0.6166            4.82m
         9           0.5509            4.81m
        10           0.4925            4.81m
        20           0.1707            4.72m
        30           0.0697            4.63m
        40           0.0353            4.56m
        50           0.0220            4.48m
        60           0.0164            4.42m
        70           0.0134            4.35m
        80           0.0114            4.28m
        90           0.0100            4.22m
       100           0.0090            4.15m
       200           0.0057            3.47m
       300           0.0042            2.65m
       400           0.0032            1.78m
       500           0.0025           53.78s
       600           0.0020            0.00s
      Iter       Train Loss   Remaining Time
         1           1.3884            4.84m
         2           1.2353            4.84m
         3           1.0992            4.84m
         4           0.9787            4.85m
         5           0.8721            4.84m
         6           0.7776            4.83m
         7           0.6938            4.83m
         8           0.6196            4.83m
         9           0.5536            4.82m
        10           0.4951            4.81m
        20           0.1718            4.72m
        30           0.0699            4.64m
        40           0.0351            4.55m
        50           0.0221            4.48m
        60           0.0162            4.41m
        70           0.0132            4.35m
        80           0.0114            4.28m
        90           0.0099            4.20m
       100           0.0089            4.13m
       200           0.0057            3.47m
       300           0.0042            2.65m
       400           0.0030            1.78m
       500           0.0024           53.80s
       600           0.0019            0.00s
      Iter       Train Loss   Remaining Time
         1           1.3856            4.83m
         2           1.2326            4.84m
         3           1.0970            4.84m
         4           0.9770            4.83m
         5           0.8708            4.83m
         6           0.7766            4.82m
         7           0.6930            4.81m
         8           0.6190            4.80m
         9           0.5531            4.79m
        10           0.4948            4.78m
        20           0.1722            4.71m
        30           0.0702            4.62m
        40           0.0357            4.54m
        50           0.0225            4.47m
        60           0.0166            4.40m
        70           0.0134            4.33m
        80           0.0114            4.27m
        90           0.0102            4.21m
       100           0.0092            4.14m
       200           0.0059            3.45m
       300           0.0043            2.64m
       400           0.0032            1.78m
       500           0.0025           53.55s
       600           0.0019            0.00s
[LightGBM] [Warning] seed is set=42, random_state=42 will be ignored. Current value: seed=42
[LightGBM] [Warning] seed is set=42, random_state=42 will be ignored. Current value: seed=42
[LightGBM] [Warning] seed is set=42, random_state=42 will be ignored. Current value: seed=42
[LightGBM] [Warning] seed is set=42, random_state=42 will be ignored. Current value: seed=42
[LightGBM] [Warning] seed is set=42, random_state=42 will be ignored. Current value: seed=42

In [40]:
cat_oof_train, cat_oof_test = get_oof(model5, X_train_cat, y_train, X_test_cat)

In [46]:
x_train = np.concatenate((
    rf_oof_train,
    gb_oof_train,
    lgb_oof_train,
    xgb_oof_train,
    cat_oof_train
), axis=1)

x_test = np.concatenate((
    rf_oof_test,
    gb_oof_test,
    lgb_oof_test,
    xgb_oof_test,
    cat_oof_test
), axis=1)

In [47]:
# META_MODEL = lgb.LGBMRegressor(
#     num_leaves=5,
#     max_depth=7, 
#     random_state=SEED, 
#     silent=True, 
#     metric='mse',
#     n_jobs=4, 
#     n_estimators=200,
#     colsample_bytree=1,
#     subsample=0.9,
#     learning_rate=0.05
# )
# META_MODEL = LinearRegression(
#     n_jobs=-1,
# )
META_MODEL = RidgeCV(cv=5)
META_MODEL.fit(x_train, y_train)
final_predictions = np.power(2, META_MODEL.predict(x_test))

# final_predictions = np.average(
#     [
#      rf_oof_test,
#      gb_oof_test,
#      lgb_oof_test,
#      xgb_oof_test,
#      cat_oof_test
#     ],
#     weights = 1 / acc['RMSLE']**9,
#     axis=0
# )
# final_predictions = np.power(2, final_predictions)
final_predictions

array([29268363.3803488 ,  9624909.61620726,  6073326.73167329, ...,
        9268469.12955655,  9987809.24606033,  7071743.48549537])

In [48]:
min_pred = min(final_predictions)
print(min_pred)

2268179.216626703

# To CSV

In [49]:
submission = pd.DataFrame()
submission['id'] = data_test.id
submission['price_prediction'] = final_predictions
submission

# Construct submission dataframe
# submission = pd.DataFrame()
# submission['id'] = data_test.id
# submission.loc[~X_test_nan, 'price_prediction'] = prediction # Predict on non-nan entries
# submission['price_prediction'].fillna(y_train.mean(), inplace=True) # Fill missing entries with mean predictor
# print(f'Generated {len(submission)} predictions')

# submission.loc[~X_test_nan, 'price_prediction'] = prediction # Predict on non-nan entries
# submission['price_prediction'].fillna(y_train.mean(), inplace=True) # Fill missing entries with mean predictor
# print(f'Generated {len(submission)} predictions')

         id  price_prediction
0     23285      2.926836e+07
1     23286      9.624910e+06
2     23287      6.073327e+06
3     23288      7.953853e+06
4     23289      5.113096e+06
...     ...               ...
9932  33217      3.636619e+07
9933  33218      1.780716e+07
9934  33219      9.268469e+06
9935  33220      9.987809e+06
9936  33221      7.071743e+06

[9937 rows x 2 columns]

In [50]:
submission.to_csv('STACKEDXGBCATløøøø.csv', index=False)